.arena-pawn {
    --team-color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 80px;
    height: 80px;

    background-color: white;
    border: 2px solid var(--team-color);
    border-radius: 50%;
    box-sizing: border-box;

    transform: translate(-50%, -50%);
    user-select: none;
    transition: .2s;
}

.arena-pawn:hover {
    background-color: #ddd;
}

.arena-pawn > * {
    pointer-events: none;
}



.arena-pawn-enter {
    opacity: 0;
}

.arena-pawn-enter-active {
    opacity: 1;
    transition: opacity .2s ease-in;
}

.arena-pawn-exit {
    opacity: 1;
}

.arena-pawn-exit-active {
    opacity: 0;
    transition: opacity .5s ease-in;
}



.arena-pawn .health-bar {
    --percent: 0.8;
    --hue: calc(var(--percent) * 105);
    --lightness: calc(50% - var(--percent) * 25%);
    --health-color: hsl(var(--hue), 100%, var(--lightness));
    --border-color: hsl(var(--hue), 50%, 25%);

    position: absolute;

    width: 100%;
    height: 5px;
    bottom: -3px;

    background-color: #444;
    border: 2px solid var(--border-color);
    border-radius: 4px;
}

.arena-pawn .health-bar .health {
    position: relative;
    width: calc(var(--percent) * 100%);
    height: 100%;

    background-color: var(--health-color);
    border-radius: 2px;
}



.arena-pawn .status-bar {
    position: absolute;
    display: flex;
    justify-content: center;

    width: 130%;
    height: 17px;
    bottom: -22px;

    color: white;
    font-size: 12px;

    background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.6) 15%,
            rgba(0, 0, 0, 0.6) 85%,
            rgba(0, 0, 0, 0) 100%
    );
    border-radius: 4px;
}

.arena-pawn .status-bar > * {
    margin: 0 3px;
}

.arena-pawn .effects {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    flex: 4 0 0;
    font-weight: 500;
}

.arena-pawn .debuffs {
    align-self: baseline;
    margin-right: 1px;
    color: #ff4444;
}

.arena-pawn .separator {
    align-self: center;
    display: inline-block;

    width: 2px;
    height: 13px;
    margin: 0 1px;

    background-color: rgba(255, 255, 255, 0.5);
}

.arena-pawn .buffs {
    align-self: baseline;
    color: #44ff44;
}

.arena-pawn .muted {
    color: rgba(255, 255, 255, 0.5);
}

.arena-pawn .stack-size {
    flex: 4 0 0;

    background-color: var(--team-color);
    border-radius: 4px;

    color: white;
    text-align: center;
}

.arena-pawn .turn-order {
    --order: 1;
    --hue: max(0, 120 - (var(--order) - 1) * 15);
    --saturation: min(80%, 100% * var(--order)); /* if order === 0 then 0% else 80% */

    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: hsl(var(--hue), var(--saturation), 50%);
    font-size: 15px;
    font-weight: 600;

    flex: 4 0 0;
}