.modal.pawn-info-modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 350px;

    font-size: 14px;

    z-index: 1300;
}

.modal.pawn-info-modal .modal-content {
    width: 100%;
    padding: 16px;

    border: 2px solid black;
}

.pawn-info-modal header h2 {
    margin-top: 0;
}

.pawn-info-modal footer {
    display: flex;
    justify-content: flex-end;

    margin-top: 16px;
}

.pawn-info-modal .subtitle {
    font-weight: 500;
}



.main-pawn-info {
    display: flex;
}



.pawn-portrait {
    width: 120px;
    margin-right: 10px;
}



.pawn-parameter-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    flex: 1;
}

.pawn-parameter {
    display: flex;

    padding: 1px 5px;

    font-size: 14px;
}

.pawn-parameter:hover {
    background-color: #ddd;
}

.pawn-parameter main {
    display: flex;
    justify-content: space-between;

    flex: 4;
}

.pawn-parameter aside {
    flex: 1;
}

.pawn-parameter-title {
    padding-right: 5px;
}

.pawn-parameter-value {
    padding-left: 5px;
}

.pawn-parameter-base-value {
    padding-left: 5px;

    color: gray;
}



.tooltip-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
}

.tooltip-description {
    font-size: 12px;
}



.resistances-tooltip {

}

.resistances-tooltip .pawn-parameter {
    font-size: 11px;
}



.pawn-feature-tooltip {
    max-width: 250px;
}

.pawn-feature-list {
    margin-top: 10px;
}

.pawn-feature {
    display: inline-block;
}



.pawn-effect-tooltip {
    max-width: 250px;
}

.pawn-effect-list {
    margin-top: 10px;
}

.pawn-effect-list .pawn-effect.neutral {
    color: #888888;
}

.pawn-effect-list .pawn-effect.debuff {
    color: #dd4444;
}

.pawn-effect-list .pawn-effect.buff {
    color: #008800;
}



.pawn-ability-tooltip {
    max-width: 250px;
}

.pawn-ability-list {
    margin-top: 10px;
}