.modal.pawn-info-modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 350px;

    font-size: 14px;

    z-index: 1300;
}

.modal.pawn-info-modal .modal-content {
    width: 100%;
    padding: 16px;

    border: 2px solid black;
}

.pawn-info-modal header h2 {
    margin-top: 0;
}

.pawn-info-modal footer {
    display: flex;
    justify-content: flex-end;

    margin-top: 16px;
}

.pawn-info-modal .subtitle {
    font-weight: 500;
}



.main-pawn-info {
    display: flex;
}



.pawn-portrait {
    width: 120px;
    margin-right: 10px;
}



.pawn-parameter-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    flex: 1;
}
