.modal.pawn-info-modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 220px;

    font-size: 14px;

    z-index: 1300;
}

.modal.pawn-info-modal .modal-content {
    width: 100%;
    padding: 16px;

    border: 2px solid black;
}

.pawn-info-modal footer {
    display: flex;
    justify-content: flex-end;

    margin-top: 16px;
}

.pawn-info-modal .subtitle {
    font-weight: 500;
}



.pawn-parameter {
    display: flex;

    padding: 1px 5px;

    font-size: 14px;
}

.pawn-parameter:hover {
    background-color: #ddd;
}

.pawn-parameter main {
    display: flex;
    justify-content: space-between;

    flex: 4;
}

.pawn-parameter aside {
    flex: 1;
}

.pawn-parameter-title {
    padding-right: 5px;
}

.pawn-parameter-value {
    padding-left: 5px;
}

.pawn-parameter-base-value {
    padding-left: 5px;

    color: gray;
}



.resistances-tooltip {

}

.resistances-tooltip .pawn-parameter {
    font-size: 11px;
}



.pawn-feature-list {
    margin-top: 10px;
}

.pawn-feature {
    display: inline-block;
}



.pawn-effect-list {
    margin-top: 10px;
}



.pawn-ability-list {
    margin-top: 10px;
}