.arena-path {
    position: absolute;

    pointer-events: none;
}

.arena-path-node {
    position: absolute;

    background: white;
    border: 2px solid black;
    border-radius: 100px;
    box-sizing: border-box;

    transition: .15s;
}

.arena-path-node-move {

}

.arena-path-node-attack {
    background: indianred;
    border-color: darkred;
}