.arena-cell {
    --default-cell-size: 128;
    --spacing-px: 4px;
    --border-width: 2;
    --ratio: 148 / 128;

    --cell-size: var(--default-cell-size);
    --cell-size-px: calc(var(--cell-size) * 1px);
    --border-width-px: calc(var(--border-width) * 1px);
    --scale: calc(var(--cell-size) / var(--default-cell-size));

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: calc(var(--cell-size-px) + var(--spacing-px));
    height: calc(var(--cell-size-px) * var(--ratio) + var(--spacing-px));

    transform: translate(-50%, -50%);
    user-select: none;
}

.arena-cell {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.arena-cell, .arena-cell * {
    transition: .2s;
}

.arena-cell:hover {
    --border-width: 6;
}



.arena-cell .content {
    position: absolute;
}

.arena-cell .content .distance {
    font-size: calc(40px * var(--scale));
}

.arena-cell:hover .content .distance {
    opacity: 1 !important;
}



.arena-cell svg {
    height: calc(100% - var(--spacing-px) - var(--border-width-px) * var(--ratio));
    width: calc(100% - var(--spacing-px) - var(--border-width-px));

    overflow: visible;
}

.arena-cell svg .hexagon {
    fill: #92d050;
    fill-opacity: 0.5;

    stroke: black;
    stroke-opacity: 1;
    stroke-width: calc(var(--border-width) / var(--scale));
    stroke-linejoin: round;

    opacity: 0.4;
}

.arena-cell:hover svg .hexagon {
    fill-opacity: 0.5;

    stroke: #466220;
    stroke-opacity: 1;

    opacity: 0.8;
}

.arena-cell.selectable svg .hexagon {
    fill: #404040;

    opacity: 0.5;
}



.arena-cell .coords {
    position: absolute;
    display: flex;
    justify-content: center;

    font-size: calc(16px * var(--scale));
    bottom: calc(12px * var(--scale));
    color: #333;
}