.pawnInfoModal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 350px;

    font-size: 14px;

    z-index: 1300;
}

.pawnInfoModal .modalContent {
    width: 100%;
    padding: 16px;

    border: 2px solid black;
}

.pawnInfoModal header h2 {
    margin-top: 0;
}

.pawnInfoModal footer {
    display: flex;
    justify-content: flex-end;

    margin-top: 16px;
}



.mainPawnInfo {
    display: flex;
}



.pawnPortrait {
    width: 120px;
    margin-right: 10px;
}



.pawnParameterList {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    flex: 1;
}



.closeButton {

}