
.pawnParameter {
    display: flex;

    padding: 1px 5px;

    font-size: 14px;
}

.pawnParameter:hover {
    background-color: #ddd;
}

.pawnParameter main {
    display: flex;
    justify-content: space-between;

    flex: 4;
}

.pawnParameter aside {
    flex: 1;
}

.pawnParameter .title {
    padding-right: 5px;
}

.pawnParameter .value {
    padding-left: 5px;
}

.pawnParameter .baseValue {
    padding-left: 5px;

    color: gray;
}

.pawnParameterTooltip {

}
